<!DOCTYPE html>
  <html>
  <head>
  <meta charset = "UTF-8">
  <title> eMarket </title> 
  <link href = "css/bootstrap.min.css" rel = "stylesheet">
  <link href = "css/shop-homepage.css" rel = "stylesheet">



  </head> 
  <body>
    <nav class = "navbar navbar-inverse navbar-fixed-top" role = "navigation">
      <div class = "container">
        <div class = "navbar-header">
          <a class = "navbar-brand" href = "#"> eMarket </a> 
          
      </div>
      </div>
    </nav>
  <script>
  function goBack() {
    window.history.back()
  } 
  </script>

 <div id = "tfheader">
    <div class = "container">
<button onclick = "goBack()"> Go Back </button>
      <h1>
  <%=@result%> 
</h1>  
  </div>
            </div>

<div class="container"

    </div>
            
</body> 
</html>